<div class="logo">
				<i class="fas fa-microchip"></i>
				<!-- For technology -->
				<div class="logo-text">
					<h1></h1>
					<p>The Best Tech Startup</p>
				</div>
			</div>
			<ul class="nav-menu">
				<li><a th:href="@{/admin/company/dashboard/{id}(id=${company.id})}"> <i class="fas fa-tachometer-alt"></i> <span>Dashboard</span>
				</a></li>
	<li><a th:href="@{/admin/companies/{id}/company-user(id=${company.id})}"> <i
						class="fas fa-user-plus"></i> <span>Add User</span>
				</a></li>
				<li><a th:href="@{/admin/companies/{id}/company-user-list(id=${company.id})}" class="active"> <i
						class="fas fa-users-cog"></i> <span>View User</span>
				</a></li>
				<li><a
					th:href="@{/admin/companies/{id}/transactions/new(id=${company.id})}">
						<i class="fas fa-plus-circle"></i> <span>Add Transaction</span>
				</a></li>
				<li><a
					th:href="@{/admin/companies/{id}/transactions/list(id=${company.id})}"
					> <i class="fas fa-list-alt"></i> <span>View
							Transaction</span>
				</a></li>
				<li><a href=""> <i class="fas fa-key"></i>
						<span>Change Password</span>
				</a></li>
				<li><a href="/admin/profile"> <i class="fas fa-home"></i>
						<span>Go To Main Page</span>
				</a></li>
			</ul>
